@media only screen and (max-width: 1026px) and (orientation:landscape){
    h1{
        font-size: 30px;
        margin-bottom: 11px;
    }
}

@media only screen and (max-width: 820px) and (orientation:landscape){
    h1{
        font-size: 30px;
        margin-bottom: 11px;
    }
}
@media only screen and (max-width: 825px) and (orientation:landscape){
    form{
        display: flex;
        flex-direction: column;
        margin-top: -22px;
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 730px) and (orientation:landscape){
    form{
        margin-top: -12px;
    }
}

@media only screen and (max-width:1025px) and (orientation:portrait){
    .container {
        padding: -3px 0px 0px 146px;
    }
}
@media only screen and (max-width:780px) and (orientation:portrait){
    .container{
        padding: 40px 0px 0px 80px;
    }
}
@media only screen and (max-width:770px) and (orientation:portrait){
    form{
        margin-top: 22px;
    }
}


@media only screen and (max-width:545px) and (orientation:portrait){
    .container {
        padding: 4px 0px 0px 21px;
    }
    h1{
        padding-top: 0%;
        font-size: 30px;
    }
}
@media only screen and (max-width:450px) and (orientation:portrait){
    .container{
        padding: 10px 0px 0px 40px;
    }
    h1{
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }
    #email,#mess{
        width: 80vw;
    }
}
@media only screen and (max-width:420px) and (orientation:portrait){
    h1{
        padding-top: 11%;
    }
}


@media only screen and (max-width:720px) {
    .active{
        display: block !important;
    }
    .nav-btn{
        display: none;
    }
    .burger-nav {
        display: block;
        color: #E4E4E4;
        font-size: xx-large;
        padding: 15px 15px 0px 0px;
    
    }
    .nav-btn-slide {
        display: none;
        padding-top: 60px;
        background-color: #191919;
        padding-bottom: 15px;
        transition: all 2s;
        position: fixed;
    }
    .nav-btn-slide li{
        list-style: none;
        margin: 20px;
    }
    .nav-btn-slide ul a{
        color: #E4E4E4;
        text-decoration: none;
        font-size: large;
        font-weight: 500;
        padding-left: 15px;
    }

    
}