<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AVEKSHA</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="aveksha.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Redressed&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@800&family=Redressed&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="nav-background">
            <div class="mobile-logo">
                <img src="./icons/logo.svg" alt="">
            </div>
            <div class="mobile-nav">
                <div class="cart">
                    <div class="flex items-center">
                        <img src="./icons/cart-dark.svg" alt="">
                        <a href="#">Statistics</a>
                    </div>
                </div>
                <div class="nav-top">
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>

                        <li>
                            <a href="#">Contact us</a>
                        </li>

                    </ul>
                </div>
                <div class="contact flex items-center">
                    <img src="./icons/phone.svg" alt="">
                    <div>
                        <h5>Call us: (+84) 123 456 789</h5>
                        <h6>E-mail : support@Aveksha.com</h6>
                    </div>
                </div>
                <div class="time flex items-center">
                    <img src="./icons/clock.svg" alt="">
                    
                </div>
            </div>
        </div>
        <div class="site-content-wrapper">
            <div class="nav-trigger">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bar-chart">
                    <line x1="12" y1="20" x2="12" y2="10" />
                    <line x1="18" y1="20" x2="18" y2="4" />
                    <line x1="6" y1="20" x2="6" y2="16" />
                </svg>
            </div>
            <div class="site-content">
                <header class="topbar">
                    <div class="container flex justify-between items-center">
                        <div class="icons">
                            <a href="#"><img src="./icons/facebook.svg" alt=""></a>
                            <a href="#"><img src="./icons/twitter.svg" alt=""></a>
                            <a href="#"><img src="./icons/google.svg" alt=""></a>
                            <a href="#"><img src="./icons/instagram.svg" alt=""></a>
                            <a href="#"><img src="./icons/search.svg" alt=""></a>
                        </div>
                        <div class="auth flex items-center">
                            <div>
                                <img src="./icons/user-icon.svg" alt="">
                                <a href="#">Log in</a>
                            </div>
                            <span class="divider">|</span>
                            <div>
                                <img src="./icons/edit.svg" alt="">
                                <a href="#">Register Now</a>
                            </div>
                            <span class="divider">|</span>
                            <div>
                                <img src="./icons/cart.svg" alt="">
                                <a href="stats.html">Statistics</a>
                            </div>
                        </div>
                    </div>
                </header>

                <nav>
                    <div class="top">
                        <div class="container flex justify-between">
                            <div class="contact flex items-center">
                                <img src="./icons/phone.svg" alt="">
                                <div>
                                    <h5>Call US: (+84) 123 456 789</h5>
                                    <h6>E-mail : support@Aveksha.com</h6>
                                </div>
                            </div>
                            <div class="branding">
                                <img src="./icons/logo.svg" alt="">
                            </div>
                            <div class="time flex items-center">
                                <img src="./icons/clock.svg" alt="">

                            </div>
                        </div>
                    </div>
                    <div class="navbar magic-shadow">
                        <div class="container flex justify-center">
                            <a href="aveksha.html" class="active">Home</a>
                            <a href="aveksha.html">About us</a>
                            <a href="stats.html">Statistics</a>
                            <a href="#">Contact us</a>
                        </div>
                    </div>
                </nav>

                <header class="hero flex items-center">
                    <div class="container">
                        <div class="welcome flex items-center">
                            <span>Welcome to</span>
                            <img src="./icons/logo-2.svg" alt="">
                        </div>
                        <h1>AVEKSHA </h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy.</p>
                        <div>
                            <button class="btn btn-primary">Read More</button>
                            <!-- <button class="btn btn-secondary">Shop Now</button> -->
                        </div>
                        <div class="hero-image">
                            <img src="./images/straw.png" alt="">
                        </div>
                    </div>
                </header>

                <section class="top-products">
                    <div class="container">
                        <h1 class="section-heading">What Aveksha does</h1>
                        <div class="slider">
                            <button class="slider-btn prev-btn"><img src="./icons/pre.svg" alt=""></button>
                            <button class="slider-btn next-btn"><img src="./icons/next.svg" alt=""></button>
                            <div class="food-slider">
                                <div class="food-card magic-shadow-sm">
                                    <div class="product-image flex items-center justify-center">
                                        <img src="img/a.png" alt="">
                                    </div>
                                    <hr>
                                    <div>
                                        <h2 class="text-center">WOMEN SAFETY</h2>
                                        <div class="stars flex justify-center items-center">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                        </div>

                                        <div class="flex justify-center">
                                            <button>
                                                <img src="./icons/cart-2.svg" alt="">
                                                <span>Violence and discrimination can blight women’s lives and
                                                    hold them back from playing a full part in the workplace, society
                                                    and the economy. AVEKSHA is taking
                                                    action to improve women’s rights and safety in the communities in
                                                    which we operate.</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="food-card magic-shadow-sm">
                                    <div class="product-image flex items-center justify-center">
                                        <img src="img/b.jpg" alt="">
                                    </div>
                                    <hr>
                                    <div>
                                        <h2 class="text-center">NO MORE SOCIETY SHAMING</h2>
                                        <div class="stars flex justify-center items-center">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                        </div>

                                        <div class="flex justify-center">
                                            <button>
                                                <img src="./icons/cart-2.svg" alt="">
                                                <span>Abuse on Twitter can include general nastiness or name calling .
                                                    . It can be more targeted harassment or can be more direct
                                                    threatsOur team will do their best
                                                    to find the culprit behind the dirty tweets !</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="food-card magic-shadow-sm">
                                    <div class="product-image flex items-center justify-center">
                                        <img src="img/c.jpg" alt="">
                                    </div>
                                    <hr>
                                    <div>
                                        <h2 class="text-center">Zero tolerance of harassment</h2>
                                        <div class="stars flex justify-center items-center">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                        </div>
                                        <div class="flex justify-center">
                                            <button>
                                                <img src="./icons/cart-2.svg" alt="">
                                                <span>We tried to revise and evolve our codes in order to address
                                                    specific forms of
                                                    harassment, including policies covering sexual harassment against
                                                    women.</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="food-card magic-shadow-sm">
                                    <div class="product-image flex items-center justify-center">
                                        <img src="icons/d.jpg" alt="">
                                    </div>
                                    <hr>
                                    <div>
                                        <h2 class="text-center">No more Ignominy</h2>
                                        <div class="stars flex justify-center items-center">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/start-filled.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                            <img src="./icons/star-grey.svg" alt="">
                                        </div>
                                        <div class="flex justify-center">
                                            <button>
                                                <img src="./icons/cart-2.svg" alt="">
                                                <span>The most beautiful thing a woman can wear is confidence.<br>dont
                                                    let her loose it by your social media games</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="about-meal">
                    <div class="container">
                        <h1 class="section-heading">AVEKSHA</h1>
                        <div class="about-meal-wrap flex">
                            <div class="flex-1">
                                <img src="img/1.jpeg" alt="">
                            </div>
                            <div class="flex-1">
                                <h2>Stalking and sexual harassment are more prevalent among young women than among young
                                    men</h2>
                                <p>Some claim that women are rather technophobic and that men are much better users of
                                    digital tools while others argue that women enthusiastically embrace digital
                                    communication.So Aveksha helps us find the main culprit behind the wrong tweets that are 
                                being commited on women through which they are becoming technophobic.The statistics page will
                            show the names and location of that person who had tweeted bad about women.
                        <br>The main idea of Aveksha is to produce fear in mind of people to think thrice before tweeting anything against them.</p>
                                <button class="btn btn-secondary">Read More</button>
                            </div>
                        </div>
                    </div>
                </section>
              

                <section class="subscribe">
                    <div class="container flex items-center">
                        <div>
                            <img src="./images/rasberry.png" alt="">
                        </div>
                        <div>
                            <h1>Subscribe </h1>
                           
                            <div class="input-wrap">
                                <input type="email" placeholder="email@Aveksha.com">
                                <button>Subscribe</button>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30703620.672472216!2d64.41390989859406!3d20.050418843029934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30635ff06b92b791%3A0xd78c4fa1854213a6!2sIndia!5e0!3m2!1sen!2sru!4v1613237221937!5m2!1sen!2sru" 
                        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
                </section>


                <nav class="creator-section">
                    <div id="creators">
                        <section class="creator-section1">
                            <h2 class="center">SRISHTY BEDI</h2>
                            <img src="img/SRISH.jpg" alt="">
                            <p class="center">I am a Sophomore at Amity University, B.Tech CSE.Aiming to become
                                Hard-working web
                                developer with a flair for creating elegant solutions in the least amount of time.
                                Passionate about
                                front-end development.</p>
                            <a href="https://www.linkedin.com/in/srishty-bedi-848b81191/" target="_blank"
                                class="fa fa-linkedin"></a>
                            <a href="https://github.com/srishty-07" target="_blank" class="fa fa-github"></a>
                        </section>

                        <section class="creator-section2">
                            <h2 class="center">ABHIGYA VERMA</h2>
                            <img src="img/ABHI.jpg" alt="">
                            <p class="center">I am a Sophomore at IGDTUW, B.Tech IT. 'Learning By Doing' has always been
                                my mantra.
                                As a result, I am a believer who believes in the power of Artificial Intelligence to
                                revolutionize
                                the world.</p>
                            <a href="https://www.linkedin.com/in/" target="_blank" class="fa fa-linkedin"></a>
                            <a href="https://github.com/" target="_blank" class="fa fa-github"></a>
                        </section>

                        <section class="creator-section3">
                            <h2 class="center">NISHTHA</h2>
                            <img src="img/nish.jpg" width="130px" height="150px" alt="">
                            <p class="center">I am a Sophomore at IGDTUW, B.Tech IT. Passionate front-end web developer
                                with
                                experience using JavaScript, HTML5, and CSS to build all aspects of the user experience
                                for
                                client-facing landing pages. </p>
                            <a href="https://www.linkedin.com/in/nishtha-goyal-12a7871b6" target="_blank"
                                class="fa fa-linkedin"></a>
                            <a href="https://github.com/Nishtha0801" target="_blank" class="fa fa-github"></a>
                        </section>

                        <section class="creator-section3">
                            <h2 class="center">ARCHIT GARG</h2>
                            <img src="img/arch.jpg" width="130px" height="160px" alt="">
                            <p class="center">I am a Sophomore at Guru Gobind Singh Indraprastha University, B.Tech CSE.I am an engineering student working on
                                web applications
                                
                                 and web infrastructure with intrest in backend development </p>
                            <a href="https://www.linkedin.com/in/architgarg603/" target="_blank"
                                class="fa fa-linkedin"></a>
                            <a href="https://github.com/architgarg603" target="_blank" class="fa fa-github"></a>
                        </section>
                    </div>
                </nav>
                <footer class="copyright">
                    <div>
                        Copyright|| &copy; www.Aveksha.com All rights reserved||
                    </div>
                </footer>
            </div>
        </div>
    </div>





    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="app.js"></script>
</body>

</html>