<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
       
        <link rel="stylesheet" href="login.css">
        <link rel="stylesheet" href="loginQuery.css">
    </head>
    <body>
        <div class="page">
            <div class="nav-bar">
                <div class="logo dj a">AVEKSHA</div>
                <div class="nav-btn ">
                    <ul>
                        <li><a class="" href="/">Home</a></li>
                        <li><a class="" href="/contact">Contact</a></li>
                        <li><a class="" href="/login">Login</a></li>
                    </ul>
                </div>
                <div class="burger-nav">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="nav-btn-slide ">
                <ul>
                    <li><a class="" href="/">Home</a></li>
                    <li><a class="" href="/contact">Contact</a></li>
                    <li><a class="" href="/login">Login</a></li>
                </ul>
            </div>
            <div class="container">
    
                <img src="./images/loginImg.jpg" alt="">
    
                <div class="details">
                    <div class="option">
                        <div class="loginbtn">Login</div>
                        <div class="registerbtn">Register</div>
                    </div>
                    <div class="heading">
                        <h1>Welcome</h1>
                        <h3>PLEASE LOGIN TO YOUR ACCOUNT</h3>
                    </div>
                    <form action="">
                        <label for="email">Email</label>
                        <input type="email" name="" id="email">
                        <label for="pass">Password</label>
                        <input type="password" name="" id="pass">
                        <div class="message"></div>
                        <div class="submitbtn">SUBMIT</div>
                    </form>
                </div>
    
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
        <script src="login.js"></script>
    </body>